#Visual studio
Debug/
Release/
convm/Debug/
convm/Release/
convm/x64/
x64/
.vs/
.rsrc/

.klocwork/

*.o
*.d
.db
*.sdf
*.suo
*.pdb
.data
.pdata
.rdata
.reloc
.text

Finder.Data
convm/Finder.Data
unittest/Finder.Data

# Enforce a “no spaces in filenames” policy
**\ **
