#Visual studio
Debug/
Release/
convm/Debug/
convm/Release/
convm/x64/
x64/
.vs/
.rsrc/

.klocwork/

*.o
*.d
*.db
*.sdf
*.suo
*.pdb
*.data
*.pdata
*.rdata
*.reloc
*.text
*.vcxproj.user
*.aps

helper_git.txt
Finder.Data
conv.rc.bak

# Enforce a “no spaces in filenames” policy
**\ **
